:root {
  --Grey : #343330;
  --LightGrey: #4a442d;
  --DarkBlue : #32373B;
  --Blue : #4A5859;
  --LightBlue: #CAF7E2;
  --White : #fff ;
}
body {
  font-family: monospace;
  height: 100%;
  width:100%;
  line-height: 2.0;
  margin:0;
  background-color: var(--LightGrey)
}
h1 {
  text-align:center;
  border-bottom: 4px ridge aliceblue;
  font-weight: bolder;
  font-size: 30px;
}
/* HEADER START */
.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-inline: 40px;
  flex-direction:row;
  color: var(--White);
  align-items: center;
  background:black;
  padding-block: 20px;
  /* 
  -rid the text decoration
  -find better background
  - */
}

/* HEADER END */

/* HOME START */
.home{
  display: flex;
  justify-content: space-between;
  margin-block: 200px;
  flex-wrap: wrap;
}
.home-photo{
  width: 30%;
  padding-left:30px;
}
.welcome h1 {
  color: var(--)
}
.welcome{
  width: 60%;  background-color: var(--Grey);
  color: var(--White);
  padding:10px;
  margin-left:10px;
  border-radius:30px;
  text-align: center;
}

/* HOME END */



/* PROJECTS START */
.portfolio{
  width:100%;
  height:500px;
  background-color: var(--Blue);
}


/* CONTACT START */
.contact{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--LightGrey);
}
.contact textarea{
  margin-inline:5px;
  width:50%;
  align-items: center;
  
}
.icons{
  display: flex;
  flex-direction: row-reverse;
  width:100%;
  justify-content: space-between;
}
.message{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items:center;
}
#msg-info {
  width:500px;
  height:250px;
  margin-bottom: 20px ;
  text-align: center;
  border-radius: 5px;
}
.sender {
  display: grid;
}
.sender input {
  border-bottom: 5px;
}
/* CONTACT END */






/* FOOTER START */
.footer {
  background-color: black;
  background-size: cover;
  width:100%;
  border-top: 3px solid salmon;
  color: white;
  text-align: center; 
  padding: 10px 0; 

}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
