:root {
  --Grey : #343330;
  --Brown: #4a442d;
  --DarkBlue : #32373B;
  --Blue : #4A5859;
  --LightBlue: #CAF7E2;
  --White : #fff ;
  --Black : #000;
}
body {
  font-family: 'Montserrat', serif;
  width:100%;
  height:100%;
  line-height: 2.0;
  margin:0;
  background-color: var(--Black);
}
h1 {
  font-family: 'Tourney', serif;
  color:Gray;
  text-align:center;
  text-decoration:underline var(--LightBlue);
  font-weight: bolder;
  font-size: 45px;
  text-shadow: 2px 2px 1px var(--Blue);
}
/* HEADER START */
.nav-bar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-inline: 40px;
  flex-direction:row;
  color: var(--White);
  align-items: center;
  background: var(--Brown);
  padding-block: 20px;
  list-style-type:none ;
}
.MobileNavigation {
  display:none;
}
.navlinks {
  list-style-type: none;
  flex-direction: row;
  display:flex;
  font-weight: bold;
  font-size: 20px;
}
.navlinks a {
  color: white;
  text-decoration: none;
}

/* HEADER END */

/* HOME /BOUT START */
.intro {
  
  padding: 5px;
}
.intro h4{
  color: var(--LightBlue);
  font-style: italic;
  font-size: 20px;
}
.qoute{
  text-align: center;
  align-content: center;
  margin: 100px;

}
.qoute p {
  color: var(--LightBlue);
}
.about {
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}
.welcome h1 {
  color: var(--LightBlue)
}

.video-background {
  /* Used to position the video and content */
  position: relative;
}

.video-background__inner {
  /* Positioned at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;

  /* Hide the scrollbar */
  overflow: hidden;
}

.video-background__video {
  object-fit: cover;

  /* Take full width */
  height: 100%;
  max-width: 100%;
}




.welcome{
  width: 50%;  
  background-color: var(--Grey);
  color: var(--White);
  padding:10px;
  margin-left:10px;
  border-radius:30px;
  text-align: center;
  margin-inline-end: 2%;
 
}
.intro-img {
  height: 100px;
  width:100px;
  margin-right: 15px;
}
/* HOME END */



/* PROJECTS START */
/* .projects{
  background:linear-gradient( var(--Black),var(--DarkBlue), var(--Black));
  display: flex;
  border: 0;
  padding:5px;
  justify-content: space-around;
  align-items:center;
  color: var(--White);
} */

/* PROJECT END */
/* SERVICES START */
.Services{
  /* background-color: var(--Black); */
  background:linear-gradient( var(--Black),var(--Brown), var(--Black));
}
.service-list{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  flex:1;
}
.service {
  color:var(--White);

}
.service h3{
  color:var(--White);
  font-weight: bold;

}
.service p {
  color: #d5ab44;
}

.svc-logo{
  color:var(--LightBlue);
}
.skills {
  color: white;
  text-align: center;
}
.tech {
  justify-content: space-between;
}

/* SERVICES END */
/* CONTACT START */
.contact{
  color: var(--LightBlue);
  flex-direction: column;
  background-color: var(--Black);
  justify-content: center;
}
.medias{
  display: flex;
  flex-direction: column;
}

/* .message{
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  flex-direction: column;
  align-items:flex-start;
}
#msg-info {
  width: 250px;
  height:170px;
  margin-bottom: 20px ;
  border-radius: 5px;
} */
.sender {
  display: grid;
}
#submit-btn{
  border-radius:15px;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Tourney';
}

/* CONTACT END */

/* REVIEW START */
#review h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.reviews{
  background:linear-gradient(rgba(0,0,0,0.9), var(--Brown));
}
.review-list{
  justify-content: space-around;
  align-items:center;
  text-align:center;
  background-color: var(--Black);
  color:white;
  margin: 10px 20px;
  padding:20px 15%;
  border: 8px inset var(--DarkBlue);
  border-radius: 10px
}
/*  REVIEW END*/



/* FOOTER START */
.footer {
  background-color: black;
  background-size: cover;
  width:100%;
  border-top: 3px solid salmon;
  color: white;
  text-align: center; 
  padding: 10px 0; 
}


/* MEDIA QUERY STYLES */
@media only screen and (max-width: 1024px){
  header nav a {
    top: 85px;
    width: 100%;
    height:100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    line-height: 1.5;
    transition: 1.5s;
    font-size: .8rem;
    padding: 30px;
    padding-inline: 15px;
    cursor: pointer;
  }
  .navlinks {
    flex-direction: column;
    color:var(--textColor);
    display:flex;
    align-items: center;
    width:100%;
  }
  .Navbar .Navigation {
    display:none;
    
  }
  .Navbar .MobileNavigation {
    display: flex;
    align-items: center;
  }
  .burger {
    color: white;
    position: absolute;
    right: 3%;
    display: flex;
    top:3%;
    cursor: pointer;
    justify-content: space-between;
  }
/* service */



}
