:root {
  --Grey : #343330;
  --LightGrey: #4a442d;
  --DarkBlue : #32373B;
  --Blue : #4A5859;
  --LightBlue: #CAF7E2;
  --White : #fff ;
  --Black : #000;
}
body {
  font-family: monospace;
  width:100%;
  height:100%;
  line-height: 2.0;
  margin:0;
  background-color: var(--Black);
}
h1 {
  color: whitesmoke;
  text-align:center;
  border-bottom: 4px ridge var(--LightBlue);
  font-weight: bolder;
  font-size: 30px;
}
/* HEADER START */
.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-inline: 40px;
  flex-direction:row;
  color: var(--White);
  align-items: center;
  background: var(--LightGrey);
  padding-block: 20px;
  /* 
  -rid the text decoration
  -find better background
  - */
}
.navbar a {
  text-decoration: none;
  list-style-type: none;
  color: var(--White)
}

/* HEADER END */

/* HOME /BOUT START */
.intro {
  margin: 10%;
  padding: 5px;
}
.intro h4{
  color: var(--LightBlue);
  font-style: italic;
  font-size: 20px;
}
.qoute{
  text-align: center;
  align-content: center;
  margin: 100px;

}
.qoute p {
  color: var(--LightBlue);
}
.about {
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}
.welcome h1 {
  color: var(--LightBlue)
}
.welcome{
  width: 60%;  background-color: var(--Grey);
  color: var(--White);
  padding:10px;
  margin-left:10px;
  border-radius:30px;
  text-align: center;
  margin-inline-end: 2%;
 
}
.intro-img {
  height: 250px;
  width:40px;
}
/* HOME END */



/* PROJECTS START */
.portfolio{
  width:100%;
  height:500px;
  text-align: center;
  background-color: var(--Black);
}
.portfolio h1 {
  margin: 0;
}
.projects{
  background-color: var(--Blue);
  width: 100%;
  height: 100%;
  display: flex;
  border: 0;
}
#project1{
  flex:1;
}
#project1 a , #project2 a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
/* PROJECT END */
/* SERVICES START */
.Services{
  background-color: var(--Black);
}
.service-list{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  flex:1;
}
.service {
  width:30%;
  height: 100%;
  margin:5px; 
  padding: 20px;
  background-color: var(--White);
  border-radius: 5px;

}
.skills {
  color: white;
  text-align: center;
}
.tech {
  justify-content: space-between;
}

/* SERVICES END */
/* CONTACT START */
.contact{
  color: var(--LightBlue);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--Black);
}
.contact textarea{
  margin-inline:5px;
  width:50%;
  align-items: center;
  
}
.icons{
  display: flex;
  flex-direction: row-reverse;
  width:100%;
  justify-content: space-between;
}
.message{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items:center;
}
#msg-info {
  width:500px;
  height:250px;
  margin-bottom: 20px ;
  text-align: center;
  border-radius: 5px;
}
.sender {
  display: grid;
}
.sender input {
  border-bottom: 5px;
}
#sender-name{
  margin-bottom:2px;
}
#sender-email{
  margin-top: 5px;
}
/* CONTACT END */

/* REVIEW START */
#review h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.reviews{
  background-color: var(--LightGrey)
}
.review-list{
  justify-content: space-around;
  align-items:center;
  text-align:center;
  background-color: var(--White);
  margin: 10px;
  padding:20px 15%;
  border: 10px outset var(--Blue);
  border-radius: 10px
}
/*  REVIEW END*/



/* FOOTER START */
.footer {
  background-color: black;
  background-size: cover;
  width:100%;
  border-top: 3px solid salmon;
  color: white;
  text-align: center; 
  padding: 10px 0; 
}


/* Media Query
--fix welcome section
*/
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
